files:
  "/opt/elasticbeanstalk/get-beanstalk-env-name.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
        # Fetch the session token for IMDSv2
        TOKEN=$(curl -s -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600")
        # Use the token to fetch the instance ID
        INSTANCE_ID=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" -s http://169.254.169.254/latest/meta-data/instance-id)
        # Use the token to fetch the availability zone
        AVAILABILITY_ZONE=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" -s http://169.254.169.254/latest/meta-data/placement/availability-zone)
        # Derive the region from the availability zone
        REGION="${AVAILABILITY_ZONE%?}" # Removes the last character to get the region
        # Ensure the REGION and INSTANCE_ID variables are not empty
        if [[ -z "$REGION" || -z "$INSTANCE_ID" ]]; then
            echo "Error: Failed to determine the region or instance ID."
            exit 1
        fi
        # Use the AWS CLI to fetch the Elastic Beanstalk environment name
        ebenvname=$(aws --output text ec2 describe-tags --filters "Name=resource-id,Values=${INSTANCE_ID}" "Name=key,Values=elasticbeanstalk:environment-name" --region ${REGION} | awk '{print $5}')
        echo $ebenvname
