commands:
   01installComposer:
      command: export COMPOSER_HOME=/root && curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/bin/ --filename=composer.phar

option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: COMPOSER_HOME
     value: /root

container_commands:
   01optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"
